In [5]:
import pandas as pd
from mordred import Calculator, descriptors
from rdkit import Chem
from rdkit.Chem import AllChem

In [6]:
# Load dataframe from CSV. 
df = pd.read_csv(
    'https://raw.githubusercontent.com/cptlab/ASCEPT_2023_comptox_workshop/main/W109_Machine_learning_QSAR_for_toxicity_prediction/data/smiles_cas_N6512_corrected.smi',
    names=['SMILES', 'CASRN', 'Ames'],
    delimiter='\t'
)

In [9]:
# Make baby dataset for testing.
df2 = df.head(100)

In [11]:
def All_Mordred_descriptors(data):
    calc = Calculator(descriptors, ignore_3D=False)
    mols = [Chem.MolFromSmiles(smi) for smi in data]

    # pandas df
    df = calc.pandas(mols)
    return df

In [12]:
mordred_descriptors = All_Mordred_descriptors(df2['SMILES'])

  1%|          | 1/100 [00:06<10:50,  6.57s/it]

d:\Users\slade\anaconda3\envs\datamol\lib\site-packages\numpy\core\fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

100%|██████████| 100/100 [00:09<00:00, 10.67it/s]

In [13]:
# Join the new dataframe onto the original.
df = pd.concat([df,mordred_descriptors],axis=1)
df.head(3)

,SMILES,CASRN,Ames,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,O=C1c2ccccc2C(=O)c3c1ccc4c3[nH]c5c6C(=O)c7cccc...,2475-33-4,0,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0.0,0.0,68.986805,2.703846,5.287332,...,11.433677,106.317006,646.116486,9.501713,8149.0,118.0,312.0,407.0,13.388889,10.305556
1,NNC(=O)CNC(=O)\C=N#N,820-75-7,1,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0.0,0.0,12.806544,2.074313,4.148627,...,8.213653,38.726083,157.059974,8.725554,188.0,10.0,42.0,42.0,5.472222,2.833333
2,O=C1NC(=O)\C(=N#N)\C=N1,2435-76-9,1,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0.0,0.0,11.945822,2.267184,4.534368,...,8.912069,39.310842,138.017775,11.501481,116.0,12.0,46.0,51.0,4.333333,2.361111